{% extends 'global/base.html' %}

{% block content %}
    <div class="container">   
        <br>
        <h1>Cadastro de engenheiro</h1>
        <form action='' method='post'>
            {% csrf_token %}

            {% for field in form %}
                {{ field.errors }}<hr>
                {{ field.label_tag }} <br>
                {{ field }}
                <br>
            {% endfor %}
            <br>
            <button class="btn-success" type='submit'>Salvar</button>
        </form>
    </div>
{% endblock content %}