{% extends 'global/base.html' %}
{% block content %}
    <h1>Lista de eng <a class="btn btn-success" href='{% url "create_engineer" %}'>Add Engenheiro</a></h1>

    <div class="table-responsive center">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Crea</th>
                <th scope="col">Fone</th>
                <th scope="col">Ação</th>
            </tr>
            </thead>
            <tbody>
                {% for engineer in engineers%}
                    <tr class="table-row">    
                        <td class="table-cel">{{ engineer.name }}</td>   
                        <td class="table-cel">{{ engineer.email }}</td>
                        <td class="table-cel">{{ engineer.crea }}</td>
                        <td class="table-cel">{{ engineer.phone }}</td>
                        <td class="table-cel">
                        <a class='btn btn-warning' href="{% url 'update_engineer' engineer.id %}">Editar</a>
                        <a class='btn btn-danger' href="{% url 'delete_engeneer' engineer.id %}">Excluir</a>
                        </td>
                    </a></p>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
{% endblock content %}