{% extends 'global/base.html' %}
{% block script %}
    <script>
        function addMaterial(materialId, materialName, materialPrice) {
            var materialFields = document.getElementById('material-fields');

            var div = document.createElement('div');
            div.className = 'material-field';

            var materialInput = document.createElement('input');
            materialInput.type = 'text';
            materialInput.name = 'materials';
            materialInput.value = materialId;
            materialInput.readOnly = true;

            var nameLabel = document.createElement('label');
            nameLabel.textContent = 'Name: ' + materialName;

            var priceLabel = document.createElement('label');
            priceLabel.textContent = 'Price: $' + materialPrice;

            var quantityInput = document.createElement('input');
            quantityInput.type = 'number';
            quantityInput.name = 'quantities';
            quantityInput.value = 1;
            quantityInput.required = true;
            quantityInput.addEventListener('input', calculateSubtotal);

            var removeButton = document.createElement('button');
            removeButton.type = 'button';
            removeButton.textContent = 'Remove';
            removeButton.addEventListener('click', function() {
                removeMaterialField(div);
                calculateSubtotal();
            });

            div.appendChild(materialInput);
            div.appendChild(nameLabel);
            div.appendChild(priceLabel);
            div.appendChild(quantityInput);
            div.appendChild(removeButton);

            materialFields.appendChild(div);

            calculateSubtotal();
        }

        function removeMaterialField(field) {
            field.parentNode.removeChild(field);
        }

        function calculateSubtotal() {
            var materialFields = document.getElementsByClassName('material-field');
            var subtotal = 0;

            for (var i = 0; i < materialFields.length; i++) {
                var priceLabel = materialFields[i].querySelector('label:nth-child(3)');
                var quantityInput = materialFields[i].querySelector('input[type="number"]');
                var price = parseFloat(priceLabel.textContent.split('$')[1]);
                var quantity = parseInt(quantityInput.value);

                subtotal += price * quantity;
            }

            var subtotalInput = document.getElementById('subtotal');
            subtotalInput.value = subtotal.toFixed(2);
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container">  
        <br>
        <h1>Atualizar Projeto</h1>
        <hr>
        <form method="post">
            {% csrf_token %}
            <label for="project_name">Nome do Projeto:</label>
            <br>
            <input type="text" id="project_name" name="project_name" value="{{ project.name }}" required><br>
            <hr>
            <label for="engineer_id">Engenheiro Responsável:</label>
            <br>
            <select id="engineer_id" name="engineer_id" required>
                {% for engineer in engineers %}
                    <option value="{{ engineer.id }}" {% if engineer.id == project.engineer_responsible_id %}selected{% endif %}>{{ engineer.name }}</option>
                {% endfor %}
            </select>
            <hr>

            <label for="area">Area:</label>
            <br>
            <input type="text" id="area" name="area" value="{{ project.area }}" required><br>
            <hr>
            <label for="bedrooms">Quantidade de quartos:</label>
            <br>
            <input type="text" id="bedrooms" name="bedrooms" value="{{ project.bedrooms }}" required><br>
            <hr>
            <label for="bathrooms">Quantidade de banheiros:</label>
            <br>
            <input type="text" id="bathrooms" name="bathrooms" value="{{ project.bathrooms }}" required><br>
            <hr>
            <label for="floors">Quantidade de pisos:</label>
            <br>
            <input type="text" id="floors" name="floors" value="{{ project.floors }}" required><br>
            <hr>
            <h2>Materiais</h2>
            {% for material in materials %}
                <button class='btn btn-primary' type="button" onclick="addMaterial('{{ material.id }}', '{{ material.name }}', '{{ material.price }}')">Add {{ material.name }}</button>
            {% endfor %}
            <hr>
            <div id="material-fields">
                <!-- Selected materials will be added here -->
                {% for project_material in project.projectmaterial_set.all %}
                    <div class="material-field">
                        <input type="text" name="materials" value="{{ project_material.material.id }}" readonly>

                        <label>Nome: {{ project_material.material.name }}</label>
                        <label>Preço: ${{ project_material.material.price }}</label>

                        <input type="number" name="quantities" value="{{ project_material.quantity }}" required oninput="calculateSubtotal()">
                        <button class='btn btn-warning' type="button" onclick="removeMaterialField(this)">Remover</button>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <label for="subtotal">Subtotal:</label>
            <br>
            <input type="text" id="subtotal" name="subtotal" value="{{ project.subtotal }}" readonly>
            <hr>
            <button class='btn btn-success' type="submit">Atualizar</button>
        </form>
    </div>

{% endblock %}
