
{% extends 'global/base.html' %}

{% block script %}
    <script>
        function addMaterial(materialId, materialName, materialPrice) {
            var materialFields = document.getElementById('material-fields');

            var div = document.createElement('div');
            div.className = 'material-field';

            var materialInput = document.createElement('input');
            materialInput.type = 'text';
            materialInput.name = 'materials';
            materialInput.value = materialId;
            materialInput.readOnly = true;

            var nameLabel = document.createElement('label');
            nameLabel.textContent = ' Nome: ' + materialName + ' - ';

            var priceLabel = document.createElement('label');
            priceLabel.textContent = 'Preço: $' + materialPrice + ' - ';

            var quantityInput = document.createElement('input');
            quantityInput.type = 'number';
            quantityInput.name = 'quantities';
            quantityInput.value = 1;
            quantityInput.addEventListener('input', calculateSubtotal);

            div.appendChild(materialInput);
            div.appendChild(nameLabel);
            div.appendChild(priceLabel);
            div.appendChild(quantityInput);

            materialFields.appendChild(div);

            calculateSubtotal();
        }

        function calculateSubtotal() {
            var materialFields = document.getElementsByClassName('material-field');
            var subtotal = 0;

            for (var i = 0; i < materialFields.length; i++) {
                var priceLabel = materialFields[i].querySelector('label:nth-child(3)');
                var quantityInput = materialFields[i].querySelector('input[type="number"]');
                var price = parseFloat(priceLabel.textContent.split('$')[1]);
                var quantity = parseInt(quantityInput.value);

                subtotal += price * quantity;
                
            }

            var subtotalInput = document.getElementById('subtotal');
            subtotalInput.value = subtotal.toFixed(2);
        }
    </script>
{% endblock %} 

{% block content %}
    <div class="container">
        <br>  
        <h1>Cadastro de Projeto</h1>
        <hr>
        <form method="post">
            {% csrf_token %}
            <label for="project_name">Nome do Projeto: </label><br>
            <input type="text" id="project_name" name="project_name" required><hr>

            <label for="engineer_id">Engenheiro Responsável:</label><br>
            <select id="engineer_id" name="engineer_id" required>
                {% for engineer in engineers %}
                    <option value="{{ engineer.id }}">{{ engineer.name }}</option>
                {% endfor %}
                
            </select><br>
            <hr>
            <label for="bedrooms">Quantidade de quartos: </label><br>
            <input type="text" id="bedrooms" name="bedrooms" required>
            <hr>
            <label for="bathrooms">Quantidade de Banheiros: </label><br>
            <input type="text" id="bathrooms" name="bathrooms" required>
            <hr>
            <label for="floors">Quantidade de pisos: </label><br>
            <input type="text" id="floors" name="floors" required>
            <hr>
            
            <label for="area">Área:</label><br>
            <input type="text" id="area" name="area" required><hr>

            <h2>Materiais do Projeto</h2>
            {% for material in materials %}
                <button class='btn btn-primary' type="button" onclick="addMaterial('{{ material.id }}', '{{ material.name }}', '{{ material.price }}')">Add {{ material.name }}</button>
            {% endfor %}

            <div id="material-fields">
                <br>
                <!-- Selected materials will be added here -->
            </div>
            <hr>

            <label for="subtotal">Subtotal:</label><br>
            <input type="text" id="subtotal" name="subtotal" readonly><hr>

            <button class='btn btn-success' type="submit">Cadastrar</button>
        </form>
    </div>
{% endblock %} 
