{% extends 'global/base.html' %}
{% block content %}
  <div class="container">  
    <h1>Lista de Projetos <a href='{% url "project_create" %}' class='btn btn-success'>Add Projeto</a></h1>

    <div class="table-responsive center">
        <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Engenheiro</th>
            <th scope="col">Area</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr class="table-row">
                    <td class="table-cel">{{ project.name }}</td>                        
                    <td class="table-cel">{{ project.engineer_responsible }}</td>
                    <td class="table-cel">{{ project.area }}</td>
                    <td class="table-cel">{{ project.subtotal }}</td>
                    <td class="table-cel">
                        <a href="{% url 'project_update' project.id %}" class='btn btn-warning'>Editar</a>
                        <a href="{% url 'project_delete' project.id %}" class='btn btn-danger'>Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}